body{
  background:#eee;
  background-image: url('https://images.unsplash.com/photo-1542382257-80dedb725088?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1528&q=80');
}
.height-100{
  height:100vh;
}
.form-control{
  height:70px;
  background-color:#e7dbdb;
  font-size:22px;
  color:#fff;
  border-radius: 1%;
}
.mt-4 {
  margin-top: 0rem!important;
}
.card{
  height: 95%;
}
.form-control:focus{
  background-color:#3a3737;
  box-shadow:none;
  border:none;
  color:#fff;
}
.search button{
  
  top:10px;
  width:120px;
  height:50px;
  right:10px;
  font-size:17px;
}
.spa{
    box-sizing: border-box;
    margin-left: 40%;
    font-family: cursive;}
